@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 2;
}

header .logo {
	position: relative;
	font-weight: 700;
	color: white;
	text-decoration: none;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6;
}
header .logo img{
	width: 100px;
}
header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li {
	position: relative;
	list-style: none;
}
header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
}
header.sticky {
	padding: 5px 100px;
	background-color: black;
}
header.sticky .logo {
	color: white;
}
header.sticky .logo img{
	width: 50px;
}
header.sticky ul li a {
	color: white;
}
.mobile {
	display: none;
}
.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden; 
}

.banner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/assets/images/about.jpg);
	background-size: cover;
	filter: blur(3px);
	z-index: -1; 
}

.banner .content {
	position: relative;
	z-index: 1; 
}
.banner h1 {
	font-size: 2rem;
	text-decoration: underline;
	text-decoration-color: green;
	color: black;
	margin-bottom: 15px;
}
.banner h4 {
	font-size: 1rem;
	color: black;
	text-decoration: none;
	margin-bottom: 5px;
	text-wrap: wrap;
	text-align: center;
}
.banner h3 {
	font-size: 1.4em;
	color: black;
	margin-bottom: 5px;
}

.banner Button {
	padding: 15px 30px;
	border-radius: 20px;
	outline: none;
	border: none;
	font-size: 1rem;
	background-color: rgb(9, 129, 9);
	margin-top: 5px;
}
.banner Button a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
}
.wave {
	position: relative;
	top: -258px;
	margin: 0;
	padding: 0;
	height: 100px;
}
#about {
	padding: 0px 100px;
	margin: 0;
}
#about .title {
	text-align: center;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: red;
}

#about .about {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	font: 1rem;
}
.about p .point{
	text-align: center;
	font-weight: 700;
	padding: 20px 0;
}

.about .aboutus-image {
	width: 100%;
	height: 100%;
}
#team {
	padding: 20px 100px;
	text-align: center;
}
#team h2 {
	margin: 15px;
}
.team {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
#team h2{
	color: red;
}
.team .caption {
	width: 100%;
	height: 200px;
	border: 1px black;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	justify-content: center;
	gap: 5px;
	align-items: center;
	box-shadow: 1px 1px 10px;
}
.team .caption h3{
	font-weight: bolder;
}
#product {
	text-align: center;
	font-size: 1rem;
	padding: 40px 100px;
}
#product h1{
	color: red;
}
#product .list {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 20px;
}
#product .list li {
	list-style: none;
}
.rice {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: underline;
	text-decoration-color: green;
	font-size: 1rem;
	width: 80%;
	margin: 0 auto;
}
.rice img {
	width: 100%;
	border-radius: 20%;
}
#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 70%;
}
input {
	width: 100%;
}
textarea {
	width: 100%;
	height: 150px;
	resize: vertical;
	padding: 10px;
}
input,
button {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	width: 50%;
}

button:hover {
	background-color: #45a049;
}
footer {
	padding: 10px 100px;
	background-color: black;
}
footer .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
footer .container h1 {
	color: white;
}
footer .container div h4 {
	font-size: 1rem;
	color: white;
	padding: 10px;
}
footer .container div span {
	text-decoration: underline;
}
footer .container div p {
	color: white;
	padding: 2px 10px;
}
.social-list {
	display: flex;
	gap: 5px;
}
.social-list li {
	list-style: none;
}
.social-link {
	background-color: white;
	color: black;
	font-size: 1.5rem;
	padding: 10px;
	transition: 0.6s;
}
.footer-bottom {
	padding-block: 5px;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 10px;
}
@media (max-width: 800px) {
	.wave {
		top: -170px;
		height: 50px;
	}
}
@media (max-width: 500px) {
	header {
		background-color: black;
		padding: 5px 30px;
	}
	header.sticky {
		padding: 5px 30px;
		background-color: black;
	}
	header.sticky ul li a {
		color: black;
	}
	header .logo {
		color: white;
		font-size: 1rem;
	}
	header .logo img{
		width: 50px;
	}
	header nav {
		display: none;
	}
	.links {
		background-color: white;
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		right: -600px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		transition: 0.6s ease;
	}
	.links.active {
		right: 0;
		display: flex;
		flex-direction: column;
		color: black;
	}
	.links.active ul {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.mobile {
		display: block;
	}
	.mobile .ham-menu {
		height: 50px;
		width: 50px;
		margin-left: auto;
		position: relative;
		z-index: 3;
		display: block;
		transition: 0.6s;
	}
	.mobile .ham-menu span {
		height: 2px;
		width: 100%;
		background: white;
		border-radius: 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.6 ease;
	}
	.ham-menu span:nth-child(1) {
		top: 25%;
	}
	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		transition: 0.6s;
		background-color: black;
	}
	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		transition: 0.6s;
		background-color: black;
	}
	.wave {
		top: -80px;
		height: 50px;
	}
	#about {
		padding: 0px 35px;
	}
	#about .about {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	#team{
		padding: 20px 30px;
	}
	.team {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	#product {
		padding: 20px 0px;
	}
	#product .list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	#contact {
		height: 60vh;
	}
	footer {
		padding: 10px 20px;
	}
	footer .container {
		display: grid;
		grid-template-columns: 1fr;
	}
}
